@import '../../App.css';

.screen-sized-card {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-ui-white);
}

.form-container {
  background-color: var(--color-ui-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 1.5rem;
  margin: 2rem;
  text-align: center;
  color: var(--color-ui-dark-blue);
  border-bottom: 3px solid var(--color-ui-dark-blue);
}

p {
  margin: 3px;
  color: var(--color-ui-dark-blue);
  border-top: 1px solid var(--color-ui-dark-blue);
  position: relative;
  margin-right: auto;
}

.input {
  border-radius: 8px;
  color: var(--color-ui-black);
  border: 2px solid var(--color-ui-blue);
  width: 87%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  z-index: 2;
}

.input-form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.event{
  margin-bottom: 1rem;
}

.dropdown {
  border-radius: 8px;
  color: var(--color-ui-black);
  border: 2px solid var(--color-ui-blue);
  width: 90%;
  padding: 0.5rem;
  background-color: transparent;
}

.date-input {
  border-radius: 8px;
  color: var(--color-ui-black);
  border: 2px solid var(--color-ui-blue);
  width: 87%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  z-index: 2;
}

.optional-p {
  font-size: large;
  color: var(--color-dark-red);
  margin-left: 20px;
}

.row {
  display: flex;
  margin-right: auto;
}

.submit-button {
  position: absolute;
  background-color: var(--color-ui-green);
  bottom: 10px;
  right: 10px;
}

.submit-button:hover, .input:hover, .dropdown:hover {
  opacity: 0.8;
}
