.dashboard {
  position: relative;
  z-index: 0;
  height: 100vh;
  /* width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;  these mess with the formatting of the cards on the dashboard*/
  background-color: var(--color-ui-black);
}

.dashboard-content {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 50px;
  margin-left: 60px; /* Width of the collapsed sidebar */
  transition: margin-left 0.3s ease;
}

/* When sidebar is expanded */
.dashboard.sidebar-expanded .dashboard-content {
  margin-left: 200px; /* Width of the expanded sidebar */
}

.main-content {
  /* padding-top: 40px;*/
  /* padding: 20px; */
  /* height: calc(100vh - 60px); adds an additional scrollbar when screen size is limited */
  overflow-y: auto;
  padding: 20px;
}

/* keep cards cleanly displayed */
.cards-container {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 50px;
  flex-wrap: wrap;
}
/* 
.cards-container {
  display: flex;
  flex-wrap: wrap;
  
}  Styling form the cards.css*/
