.dashboard {
  position: relative;
  height: 100vh;
  /* width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;  these mess with the formatting of the cards on the dashboard*/
  background-color: var(--color-ui-black);
}

.dashboard-content {
  margin-top: 50px;
  margin-left: 60px; /* Width of the collapsed sidebar */
  transition: margin-left 0.3s ease;
}

/* When sidebar is expanded */
.dashboard.sidebar-expanded .dashboard-content {
  margin-left: 200px; /* Width of the expanded sidebar */
}

.main-content {
  /* padding-top: 50px; */
  padding: 20px;
  /* height: calc(100vh - 60px); adds an additional scrollbar when screen size is limited*/
  overflow-y: auto;
}

/* keep cards cleanly displayed */
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
