@import '../../App.css';

.create-card-container {
  position: relative;
}

.create-button {
  padding: 10px 20px;
  background-color: var(--color-ui-blue);
  color: var(--color-ui-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12em;
}

.input-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form-wrapper {
  width: 600px;
  height: 600px;
  background-color: var(--color-ui-white);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--color-dark-red);
}

.close-button:hover, .create-button:hover, .unread-btn:hover, .newest-btn:hover {
  opacity: 0.8;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

/* FILTERS */
/* FILTERS */
/* FILTERS */
.filter-div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

.unread-btn {
  width: 12em;
  font-size: 0.8em;
}

.newest-btn {
  width: 12em;
  font-size: 0.8em;
}

/*GROUPS STYLING*/
.group-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  padding: 10px;
  border-color: var(--color-ui-blue);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.create-button:hover + .group-code-container {
  display: flex;
  position: absolute;
}

.group-code {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.popup {
  background-color: var(--color-ui-blue);
  z-index: 1;
}

/* .join-group-input {
  color: white;
} */

.copy-icon {
  color: var(--color-ui-white);
  font-size: 1em;
}

.copy-success {
  color: var(--color-ui-white);
  margin-top: 10px;
}

/*POPUP WINDWOW STYLING*/
/*POPUP WINDWOW STYLING*/
/*POPUP WINDWOW STYLING*/
.pop-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-window-content {
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
