@import '../../App.css';

.login-div {
  display: flex;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 80px;
  background-color: var(--color-ui-blue);
  width: 20em;
  border-radius: 15px;
}

.body .login-div {
  display: flex;
  justify-content: right;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding-bottom: 5rem;
}

.login-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 3px solid var(--color-ui-white);
  border-radius: 2px;
  padding: 0px 5px;
  font-size: 1.2em;
}

.login-input:focus {
  outline: 1px solid var(--color-ui-white);
  /* background-color: var(--color-ui-dark-blue); */
}

.login-button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-error {
  color: var(--color-dark-red);
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  margin-bottom: 10px;
}

.login-button {
  margin: 0px 5px;
  padding: 10px 15px; 
}

.blurb-p {
  font-size: medium;
  color: var(--color-ui-white);
  margin-top: 4rem;
  margin-bottom: 5px;
}

.login-button:hover {
  background-color: var(--color-ui-white);
  color: var(--color-ui-black);
}

.landing-whims-div {
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
}

.fake-cards-div {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.fake-card {
  position: relative;
  animation: drift 20s linear infinite;
}

.fake-card:nth-child(1) {
  animation-delay: 8s;
  left: -50vw;
}

.fake-card:nth-child(2) {
  animation-delay: 4s;
  left: -40vw;
}

.fake-card:nth-child(3) {
  animation-delay: 2s;
  left: -20vw;
}

@keyframes drift {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(75vw);
    opacity: 0;
  }
}
