@import '../../App.css';

.login-div {
  display: flex;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 80px;
  background-color: var(--color-ui-blue);
  width: 20em;
  border-radius: 15px;
}

.body .login-div {
  display: flex;
  justify-content: center;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding-bottom: 60px;
}

.login-input {
  background-color: var(--color-ui-blue);
  border: 2px solid var(--color-ui-white);
  border-radius: 5px;
  padding: 3px;
  margin: 0px 5px;
  font-size: 1em;
}

.login-input:focus {
  outline: 1px solid var(--color-ui-white);
  /* background-color: var(--color-ui-dark-blue); */
}

.login-button-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login-button {
  margin: 0px 5px;
}

.login-button:hover {
  background-color: var(--color-ui-white);
  color: var(--color-ui-black);
}
