:root {
  /* UI Color Variables */
  --color-ui-green: #1c7353;
  --color-ui-black: #343a40;
  --color-ui-white: #f8f9fa;
  --color-ui-blue: #007bff;
  --color-ui-dark-blue: #0058B6;
  /* Color Variables */
  --color-turq: #5dd9c1;
  --color-dark-turq: #27a58c;
  --color-mant: #6BB46A;
  --color-dark-mant: #386D37;
  --color-apg: #B5BB39;
  --color-dark-apg: #5A5E1D;
  --color-yell: #FFC107;
  --color-dark-yell: #8F6B00;
  --color-org: #F37B35;
  --color-dark-org: #AE460A;
  --color-red: #E63462;
  --color-dark-red: #911234;
  --color-ind: #B53387;
  --color-dark-ind: #5F1B47;
  --color-purp: #8332AC;
  --color-dark-purp: #3C174F;
  /* max-width: 1280px;  this limits the card space to 3*/
  /* padding: 2rem; This spawns an unnecessary scroll bar*/
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
