@import '../../App.css';
.card {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 2em;
  text-align: center;
  margin-top: 65px;
  color: var(--color-ui-black);
  overflow-wrap: break-word;
}

.card-date {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  color: var(--color-ui-black);
  padding: 4px 40px;
  border-radius: 4px;
}

.event-type-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.5em;
}

.card-text-container {
  position: absolute;
  top: 16px;
  right: 16px;
}

.like-dislike-container {
  position: absolute;
  margin: auto;
  bottom: 16px;
  right: 16px;
  display: flex;
}

.like-dislike-count {
  margin-left: 4px;
}

.like-button,
.dislike-button {
  margin: 6px;
  font-size: 1.2em;
  background: none;
  padding: 0px;
  color: var(--color-ui-black);
}


.like-button:hover .dislike-button:hover {
  opacity: 0.8;
}

.location-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-align: center;
  font-size: 1.2em;
}

.delete-button {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.2em;
  background: none;
  padding: 6px;
}

/* Additional styles */

.card-text {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

/* COLORS */
/* Color set for turqoise */
.card.--color-turq {
  background-color: var(--color-turq);
  color: var(--color-dark-turq);
  box-shadow: 3px 3px 2px var(--color-dark-turq);
}
.card.--color-turq .delete-button{ color: var(--color-dark-turq); }
.card.--color-turq .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-turq);}

/* Color set for matis green */
.card.--color-mant {
  background-color: var(--color-mant);
  color: var(--color-dark-mant);
  box-shadow: 3px 3px 2px var(--color-dark-mant);
}
.card.--color-mant .delete-button { color: var(--color-dark-mant); }
.card.--color-mant .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-mant);}

/* Color set for apple green */
.card.--color-apg {
  background-color: var(--color-apg);
  color: var(--color-dark-apg);
  box-shadow: 3px 3px 2px var(--color-dark-apg);
}
.card.--color-apg .delete-button { color: var(--color-dark-apg); }
.card.--color-apg .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-apg);}

/* Color set for yellow */
.card.--color-yell {
  background-color: var(--color-yell);
  color: var(--color-dark-yell);
  box-shadow: 3px 3px 2px var(--color-dark-yell);
}
.card.--color-yell .delete-button { color: var(--color-dark-yell); }
.card.--color-yell .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-yell);}

/* Color set for orange */
.card.--color-org {
  background-color: var(--color-org);
  color: var(--color-dark-org);
  box-shadow: 3px 3px 2px var(--color-dark-org);
}
.card.--color-org .delete-button { color: var(--color-dark-org); }
.card.--color-org .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-org);}

/* Color set for red */
.card.--color-red {
  background-color: var(--color-red);
  color: var(--color-dark-red);
  box-shadow: 3px 3px 2px var(--color-dark-red);
}
.card.--color-red .delete-button { color: var(--color-dark-red); }
.card.--color-red .card-title{ color: var(--color-ui-white); }
.card.--color-red .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-red);}

/* Color set for not indigo */
.card.--color-ind {
  background-color: var(--color-ind);
  color: var(--color-dark-ind);
  box-shadow: 3px 3px 2px var(--color-dark-red);
}
.card.--color-ind .delete-button { color: var(--color-dark-ind); }
.card.--color-ind .card-title{ color: var(--color-ui-white); }
.card.--color-ind .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-ind);}

/* Color set for purple */
.card.--color-purp {
  background-color: var(--color-purp);
  color: var(--color-dark-purp);
  box-shadow: 3px 3px 2px var(--color-dark-purp);
}
.card.--color-purp .delete-button { color: var(--color-dark-purp); }
.card.--color-purp .card-title{ color: var(--color-ui-white); }
.card.--color-purp .card-date{ color: var(--color-ui-white); background-color: var(--color-dark-purp);}
