@import '../../App.css';
.card {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  color: var(--color-ui-black);
  overflow-wrap: break-word;
}

.event-type-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.5em;
}

.card-text-container {
  position: absolute;
  top: 16px;
  right: 16px;
}

.like-dislike-container {
  position: absolute;
  margin: auto;
  bottom: 16px;
  right: 16px;
  display: flex;
}

.like-button,
.dislike-button {
  margin: 8px;
  font-size: 1.2em;
  background: none;
  padding: 6px;
  color: var(--color-ui-black);
}

.like-button:hover .dislike-button:hover {
  opacity: 0.8;
}

.location-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-align: center;
  font-size: 1.2em;
}

.delete-button {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.2em;
  background: none;
  padding: 6px;
}

/* Additional styles */

.card-text {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

/* COLORS */
.card.--color-turq {
  background-color: var(--color-turq);
  color: var(--color-dark-turq);
}
.card.--color-turq .delete-button { color: var(--color-dark-turq); }
 
.card.--color-mant {
  background-color: var(--color-mant);
  color: var(--color-dark-mant);

}
.card.--color-mant .delete-button { color: var(--color-dark-mant); }

.card.--color-apg {
  background-color: var(--color-apg);
  color: var(--color-dark-apg);

}
.card.--color-apg .delete-button { color: var(--color-dark-apg); }

.card.--color-yell {
  background-color: var(--color-yell);
  color: var(--color-dark-yell);

}
.card.--color-yell .delete-button { color: var(--color-dark-yell); }

.card.--color-org {
  background-color: var(--color-org);
  color: var(--color-dark-org);

}
.card.--color-org .delete-button { color: var(--color-dark-org); }

.card.--color-red {
  background-color: var(--color-red);
  color: var(--color-dark-red);

}
.card.--color-red .delete-button { color: var(--color-dark-red); }

.card.--color-ind {
  background-color: var(--color-ind);
  color: var(--color-dark-ind);

}
.card.--color-ind .delete-button { color: var(--color-dark-ind); }

.card.--color-purp {
  background-color: var(--color-purp);
  color: var(--color-dark-purp);

}
.card.--color-purp .delete-button { color: var(--color-dark-purp); }
