@import "../../App.css";

/*HEADER STYLING*/
/*HEADER STYLING*/
/*HEADER STYLING*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-ui-dark-blue);
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header-title {
  margin-left: 20px;
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-ui-white);
}

.header-sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
  gap: 10px;
  margin-left: auto;
}

.create-card-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: auto;
}

/*SIDEBAR STYLING*/
/*SIDEBAR STYLING*/
/*SIDEBAR STYLING*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: var(--color-ui-blue);
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-shadow: 2px 0 4px rgba(0,88,182,0.8);
}

.sidebar.expanded {
  width: 200px;
}

.sidebar:not(.expanded) h1{
  font-size: 1.5rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 0;
  min-height: min-content;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--color-ui-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  min-height: 44px; /* Ensure buttons are easy to tap on touch devices */
}

.nav-item:hover {
  background-color: var(--color-ui-dark-blue);
}

.nav-item svg {
  margin-right: 15px;
  width: 20px;
  flex-shrink: 0;
}

.home-button {
  margin-bottom: 20px;
}

.bottom-buttons {
  margin-top: auto;
  padding-top: 20px;
}

.sidebar:not(.expanded) .nav-item {
  justify-content: left;
}

.sidebar:not(.expanded) .nav-item svg {
  margin-right: 0;
}

.sidebar:not(.expanded) .nav-item span {
  display: none;
}

@media (max-height: 600px) {
  .sidebar-nav {
    justify-content: space-between;
  }

  .home-button {
    margin-bottom: 10px;
  }

  .bottom-buttons {
    padding-top: 10px;
  }

  .nav-item {
    padding: 8px 20px;
    min-height: 36px;
  }
}
